body {
  font-family: helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.page_header  {
  background-image: url("../../resources/images/the-flatiron-building.png");
}

ul {
    font-size: 18px;
    line-height:175%;
    list-style-type:none;

}

.page_header a {

    color: white;
}
